<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Images</title>
</head>
<body>
    <h1>Upload Images</h1>
    <form id="uploadForm" action="/api/v1/imageupload" method="post" enctype="multipart/form-data">
        <label for="files">Select images (JPG, JPEG, PNG only):</label>
        <input type="file" id="files" name="files" accept=".jpg, .jpeg, .png" multiple>
        <br><br>
        <button type="submit">Upload</button>
        <div><p>hello</p></div>
    </form>
</body>