<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Images</title>
</head>
<body>
    <h1>Upload Images</h1>
    <form id="uploadForm" action="/api/v1/user/profileimage" method="POST" enctype="multipart/form-data">
        <label for="file">Select images (JPG, JPEG, PNG only): For User Image upload</label>
        <input type="file" id="file" name="file" accept=".jpg, .jpeg, .png" multiple>
        <br><br>
        <button type="submit">Upload</button>

    </form>

    <form id="uploadForm" action="/api/v1/restaurant/profileimage" method="POST" enctype="multipart/form-data">
        <label for="file">Select images (JPG, JPEG, PNG only): For Restaurant Image upload</label>
        <input type="file" id="file" name="file" accept=".jpg, .jpeg, .png" multiple>
        <br><br>
        <button type="submit">Upload</button>

    </form>
</body>