<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay with Razorpay</title>
</head>

<body>
    <button id="rzp-button1">Pay with Razorpay</button>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        document.getElementById('rzp-button1').onclick = function (e) {
            e.preventDefault();
            var options = {
                "key": "rzp_test_lsRCHVZUa3jQRW", 
                "amount": "250000", 
                "currency": "INR",
                "name": "FoodBuddy",
                "description": "Test Transaction",
                "order_id": "order_OJjrTQZMSxcY63", 
                "callback_url": "http:\/\/localhost:8080\/api\/v1\/user\/order\/step3\/paymentcallback\/newuser1_gtXaIUMm1N",
                "prefill": {
                    "name": "foodbuddy",
                    "email": "foodbuddy@gmail.com",
                    "contact": "9000090000"
                },
                "notes": {
                    "address": "FoodBuddy Office"
                },
                "theme": {
                    "color": "#32CD32" 
                },
                "modal": {
                    "ondismiss": function() {
                        alert("The payment process was interrupted. Please try again.");
                    },
                    "animation": true, 
                    "backdropclose": false, 
                    "escape": true, 
                    "handleback": true, 
                    "confirm_close": true 
                },
                "retry": {
                    "enabled": true,
                    "max_count": 3 
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        }
    </script>

</body>

</html>