<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay with Razorpay</title>
</head>

<body>
    <button id="rzp-button1">Pay with Razorpay</button>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        document.getElementById('rzp-button1').onclick = function (e) {
            e.preventDefault();
            var options = {
                "key": "rzp_test_lsRCHVZUa3jQRW", 
                "amount": "3000", 
                "currency": "INR",
                "name": "FoodBuddy",
                "description": "Test Transaction",
                "order_id": "order_OZdI3SJb5uThpq", 
                "callback_url": "https:\/\/foodbuddy.lijuthomas.xyz\/api\/v1\/user\/order\/step3\/razorpaycallback\/376b6524-30bc-48bc-9485-d9779979532f",
                "prefill": {
                    "name": "foodbuddy",
                    "email": "foodbuddy@gmail.com",  
                    "contact": "9000090000"
                },
                "notes": {
                    "address": "FoodBuddy Office"
                },
                "theme": {
                    "color": "#32CD32" 
                },
                "modal": {
                    "ondismiss": function() {
                        alert("payment cancelled by the user");
                        sendTransactionStatusToServer('failed');
                    },
                    "animation": true, 
                    "backdropclose": false, 
                    "escape": true, 
                    "handleback": true, 
                    "confirm_close": true 
                },
                "retry": {
                    "enabled": true,
                    "max_count": 3 
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
            function sendTransactionStatusToServer(status) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', "https:\/\/foodbuddy.lijuthomas.xyz\/api\/v1\/user\/order\/step3\/razorpaycallback\/failed\/376b6524-30bc-48bc-9485-d9779979532f", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                order_id: "order_OZdI3SJb5uThpq",
                status: status
            }));
        }
        }
    </script>

</body>

</html>